BLIND_HOST=0.0.0.0
BLIND_PORT=8088
BLIND_DEVICE=cuda:0
BLIND_PATH_MODEL=E:/OpenAIglasses_for_Navigation-main/blind/models/yolo-seg.pt
BLIND_TRAFFIC_MODEL=E:/OpenAIglasses_for_Navigation-main/blind/models/trafficlight.pt
BLIND_WS_IDLE_TIMEOUT_SEC=60
BLIND_GUIDANCE_INTERVAL_SEC=1.0
